flows_Ramplify.json
[{"id":"1e34cc51.ad1564","type":"tab","label":"HOME","disabled":false,"info":""},{"id":"13496af3.4f2fa5","type":"tab","label":"SETTINGS","disabled":false,"info":""},{"id":"72b11300.26b4ac","type":"tab","label":"NETWORK","disabled":false,"info":""},{"id":"a2519f87.b15d3","type":"tab","label":"REBOOT","disabled":false,"info":""},{"id":"4d0f060d.dee7e8","type":"ui_group","name":"","tab":"","order":2,"disp":false,"width":"6","collapse":false},{"id":"7e721e85.1720a","type":"ui_group","name":"","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c25d248a.241c88","type":"ui_group","name":"","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"e59f9709.8a5468","type":"ui_spacer","name":"spacer","group":"","order":5,"width":"4","height":1},{"id":"d365201d.4a6cc","type":"ui_spacer","name":"spacer","group":"7846021d.0e188c","order":3,"width":"3","height":1},{"id":"de9bcdd0.e4274","type":"ui_spacer","name":"spacer","group":"","order":5,"width":"3","height":1},{"id":"4e915a87.90d1a4","type":"ui_spacer","name":"spacer","group":"","order":7,"width":"6","height":1},{"id":"f3edc071.a4a91","type":"ui_group","name":"Wifi","tab":"907bbe60.b555f","order":3,"disp":true,"width":"6","collapse":false},{"id":"c012056c.de8238","type":"ui_group","name":"Welcome","tab":"c82bc041.d7668","order":2,"disp":true,"width":"6","collapse":false},{"id":"f507698d.fc6348","type":"ui_group","name":"Audio","tab":"1c4b2c5f.638304","order":3,"disp":true,"width":"6","collapse":false},{"id":"e9b8f1b9.7156e","type":"ui_group","name":"Features","tab":"1c4b2c5f.638304","order":2,"disp":true,"width":"6","collapse":false},{"id":"562a6e95.d5c71","type":"ui_group","name":"Finish","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a83b8e2f.aa622","type":"ui_group","name":"Hotspot","tab":"1c4b2c5f.638304","order":1,"disp":true,"width":"6","collapse":false},{"id":"ca46fe68.e47ce","type":"ui_group","name":"Info","tab":"907bbe60.b555f","order":1,"disp":true,"width":"6","collapse":false},{"id":"cf56a35a.886d8","type":"ui_group","name":"Ethernet","tab":"907bbe60.b555f","order":2,"disp":true,"width":"6","collapse":false},{"id":"249fea43.facba6","type":"ui_group","name":"Hostname","tab":"c82bc041.d7668","order":1,"disp":true,"width":"6","collapse":false},{"id":"4666eb5c.194864","type":"ui_group","name":"Administration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"771d922c.52271c","type":"ui_group","name":"","tab":"c82bc041.d7668","order":3,"disp":true,"width":"6","collapse":false},{"id":"1f08d25d.c85e3e","type":"ui_group","name":"","tab":"1c4b2c5f.638304","order":4,"disp":true,"width":"6","collapse":false},{"id":"562184af.e312dc","type":"ui_group","name":"Group 5","tab":"","order":5,"disp":true,"width":6},{"id":"96bbfeba.34b43","type":"ui_spacer","name":"spacer","group":"","order":5,"width":"4","height":1},{"id":"c6c1c71c.041b88","type":"ui_spacer","name":"spacer","group":"7846021d.0e188c","order":3,"width":"3","height":1},{"id":"785bd450.cb301c","type":"ui_spacer","name":"spacer","group":"","order":5,"width":"3","height":1},{"id":"49e51bef.b4cac4","type":"ui_spacer","name":"spacer","group":"","order":7,"width":"6","height":1},{"id":"8b216f0c.42f18","type":"ui_group","name":"Wifi","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"c908b82.195ff48","type":"ui_group","name":"Welcome","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"2bc85359.c81fbc","type":"ui_group","name":"Audio","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"63a6128a.9a0dcc","type":"ui_group","name":"Features","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"ba96f5e6.368938","type":"ui_group","name":"Finish","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"c14daa31.38f628","type":"ui_group","name":"Hotspot","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3918a486.4e746c","type":"ui_group","name":"Info","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"7b25a507.66897c","type":"ui_group","name":"Ethernet","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"b92b25f6.72dfb8","type":"ui_group","name":"Hostname","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"3e5fe1f9.63a05e","type":"ui_group","name":"Administration","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"84351006.fefa6","type":"ui_group","name":"","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"4e3a23e9.52e3dc","type":"ui_group","name":"","tab":"","order":4,"disp":true,"width":"6","collapse":false},{"id":"21fa02d0.7b741e","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#0083a3","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#0083a3","edited":true},"page-titlebar-backgroundColor":{"value":"#0083a3","edited":false},"page-backgroundColor":{"value":"#d1d1d1","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#0083a3","edited":true},"group-borderColor":{"value":"#0083a3","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0083a3","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Ramplify V1.0","hideToolbar":"true","allowSwipe":"false","lockMenu":"icon","allowTempTheme":"false","dateFormat":"DD.MM.YYYY","sizes":{"sx":40,"sy":48,"gx":500,"gy":15,"cx":8,"cy":8,"px":30,"py":30}}},{"id":"fea83318.74e94","type":"ui_spacer","name":"spacer","group":"","order":3,"width":"6","height":"1"},{"id":"2d98c4b2.6cdadc","type":"ui_spacer","name":"spacer","group":"","order":8,"width":"6","height":"1"},{"id":"d2cc28c4.6c5648","type":"ui_spacer","name":"spacer","group":"","order":5,"width":"5","height":1},{"id":"2a976761.f32a38","type":"ui_spacer","name":"spacer","group":"","order":10,"width":"4","height":1},{"id":"fe40bbb2.e0bde8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":"6","height":1},{"id":"5170c93f.b9e328","type":"ui_spacer","name":"spacer","group":"","order":3,"width":"6","height":1},{"id":"84196706.a14fe8","type":"ui_spacer","name":"spacer","group":"","order":2,"width":"6","height":"1"},{"id":"9be5bb54.122df8","type":"ui_spacer","name":"spacer","group":"","order":6,"width":"4","height":"1"},{"id":"ebe162e5.dacc","type":"ui_spacer","name":"spacer","group":"","order":4,"width":"6","height":"2"},{"id":"907bbe60.b555f","type":"ui_tab","name":"NETWORK","icon":"wifi","order":3,"disabled":false,"hidden":false},{"id":"c82bc041.d7668","type":"ui_tab","name":"HOME","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1c4b2c5f.638304","type":"ui_tab","name":"SETTINGS","icon":"settings","order":2,"disabled":false,"hidden":false},{"id":"7b8d3b57.602fa4","type":"ui_spacer","name":"spacer","group":"","order":5,"width":"4","height":1},{"id":"d3b4ee14.fc977","type":"ui_spacer","name":"spacer","group":"7846021d.0e188c","order":3,"width":"3","height":1},{"id":"993c3e62.7241d","type":"ui_spacer","name":"spacer","group":"","order":5,"width":"3","height":1},{"id":"25f0eedf.ca46a2","type":"ui_spacer","name":"spacer","group":"","order":7,"width":"6","height":1},{"id":"21d9033b.0942cc","type":"ui_tab","name":"REBOOT","icon":"build","order":4,"disabled":false,"hidden":false},{"id":"d10ee7aa.7d01b8","type":"ui_group","name":"Wifi","tab":"907bbe60.b555f","order":3,"disp":true,"width":"6","collapse":false},{"id":"cd62767b.9e72e8","type":"ui_group","name":"Welcome","tab":"c82bc041.d7668","order":2,"disp":true,"width":"6","collapse":false},{"id":"64dec6f1.ffd378","type":"ui_group","name":"Audio","tab":"1c4b2c5f.638304","order":3,"disp":true,"width":"6","collapse":false},{"id":"81bb5c50.8db4d","type":"ui_group","name":"Features","tab":"1c4b2c5f.638304","order":2,"disp":true,"width":"6","collapse":false},{"id":"dbb5ee7d.c456a","type":"ui_group","name":"Finish","tab":"21d9033b.0942cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"9be91b84.332018","type":"ui_group","name":"Hotspot","tab":"1c4b2c5f.638304","order":1,"disp":true,"width":"6","collapse":false},{"id":"b42109e9.479728","type":"ui_group","name":"Info","tab":"907bbe60.b555f","order":1,"disp":true,"width":"6","collapse":false},{"id":"677f9492.07a2cc","type":"ui_group","name":"Ethernet","tab":"907bbe60.b555f","order":2,"disp":true,"width":"6","collapse":false},{"id":"8d5938bc.823fa8","type":"ui_group","name":"Hostname","tab":"c82bc041.d7668","order":1,"disp":true,"width":"6","collapse":false},{"id":"e433a41c.46c658","type":"ui_group","name":"Administration","tab":"21d9033b.0942cc","order":2,"disp":true,"width":"6","collapse":false},{"id":"80266c3.c99b69","type":"ui_group","name":"","tab":"c82bc041.d7668","order":3,"disp":true,"width":"6","collapse":false},{"id":"91d1bafc.2e4ab8","type":"ui_group","name":"","tab":"1c4b2c5f.638304","order":4,"disp":true,"width":"6","collapse":false},{"id":"b12d1a52.4be828","type":"exec","z":"72b11300.26b4ac","command":"sudo iwlist wlan0 scan | grep ESSID | sed 's/ESSID://g;s/\"//g;s/^ *//;s/ *$//'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan","x":430,"y":220,"wires":[["b16aa923.7ac908"],[],[]]},{"id":"b16aa923.7ac908","type":"function","z":"72b11300.26b4ac","name":"parseOptions","func":"var ssids = msg.payload.split('\\n').filter(s => !!s)\n\nssids = [...new Set(ssids)];\n\nmsg.options = ssids\nmsg.payload = null\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":207,"wires":[["6710ee56.d4068"]]},{"id":"39b36a74.affea6","type":"switch","z":"72b11300.26b4ac","name":"ifNetwork","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"NETWORK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":281,"y":220,"wires":[["b12d1a52.4be828","9156e633.8d6b18","2fe10839.9cd638","a114221a.36d4d","fbc23b8d.ca4f58"]]},{"id":"9156e633.8d6b18","type":"exec","z":"72b11300.26b4ac","command":"ifconfig eth0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":430,"y":321,"wires":[["eccf94d.4375b68"],[],[]]},{"id":"eccf94d.4375b68","type":"function","z":"72b11300.26b4ac","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nmsg.payload = ip;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":320,"wires":[["290c259d.32914a"]]},{"id":"44fc23b7.87e9dc","type":"function","z":"72b11300.26b4ac","name":"","func":"\nmsg.payload = {ssid: msg.payload}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":200,"wires":[["ac2aa4b9.f1d5f8"]]},{"id":"ddfa552f.b75b58","type":"exec","z":"72b11300.26b4ac","command":"iwgetid","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getCurrentSSID","x":1140,"y":420,"wires":[["978c621d.7d24"],[],[]]},{"id":"978c621d.7d24","type":"function","z":"72b11300.26b4ac","name":"parseInfo","func":"var ssid = msg.payload.match(/ESSID:\"([^\"]+)\"/)[1]\n\n\nnode.send({topic: 'ssid', payload: ssid})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":407,"wires":[["46714306.cf4c1c"]]},{"id":"86dd2799.cf8e38","type":"switch","z":"1e34cc51.ad1564","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"192.168.40.1","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":790,"y":340,"wires":[["86868730.290db8"],["86868730.290db8"],["b505a16b.06fe"]]},{"id":"86868730.290db8","type":"change","z":"1e34cc51.ad1564","name":"change 3 rules","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"No internet connection! Simply follow the guide...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":300,"wires":[["17750005.71d71"]]},{"id":"b505a16b.06fe","type":"change","z":"1e34cc51.ad1564","name":"change 3 rules","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"You got an internet connection! See \"Network\" for more.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":380,"wires":[["17750005.71d71"]]},{"id":"310f6a05.e79be6","type":"ui_button","z":"72b11300.26b4ac","name":"","group":"d10ee7aa.7d01b8","order":10,"width":"6","height":"1","passthru":false,"label":"Scan Wifi","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":280,"y":180,"wires":[["b12d1a52.4be828"]]},{"id":"7d0229f2.943ef8","type":"ui_button","z":"1e34cc51.ad1564","name":"","group":"80266c3.c99b69","order":2,"width":"6","height":"1","passthru":false,"label":"CONTINUE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"SETTINGS","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":220,"wires":[["3c8283d9.1192bc"]]},{"id":"6710ee56.d4068","type":"ui_dropdown","z":"72b11300.26b4ac","name":"","label":"","tooltip":"","place":"Select network","group":"d10ee7aa.7d01b8","order":11,"width":"4","height":"1","passthru":false,"multiple":false,"options":[],"payload":"","topic":"","topicType":"str","x":840,"y":200,"wires":[["44fc23b7.87e9dc"]]},{"id":"a26b1171.514c7","type":"ui_text","z":"72b11300.26b4ac","group":"b42109e9.479728","order":8,"width":0,"height":0,"name":"","label":"with IP: ","format":"{{msg.payload}}","layout":"row-spread","x":1400,"y":260,"wires":[]},{"id":"46714306.cf4c1c","type":"ui_text","z":"72b11300.26b4ac","group":"b42109e9.479728","order":7,"width":0,"height":0,"name":"","label":"Current connection: ","format":"{{msg.payload}}","layout":"row-spread","x":1570,"y":480,"wires":[]},{"id":"14fb57e2.adf3b8","type":"ui_text","z":"1e34cc51.ad1564","group":"8d5938bc.823fa8","order":1,"width":"6","height":"1","name":"hostname output","label":"<font size=6>{{payload}}","format":"","layout":"row-spread","x":750,"y":20,"wires":[]},{"id":"9e97d798.9d3c98","type":"ui_text","z":"1e34cc51.ad1564","group":"cd62767b.9e72e8","order":1,"width":"6","height":"1","name":"","label":"<font size=4>Ramplify is an easy-to-use software package converting your Raspberry Pi into a high-quality multi-streaming device.","format":"","layout":"row-center","x":500,"y":100,"wires":[]},{"id":"17750005.71d71","type":"ui_text","z":"1e34cc51.ad1564","group":"80266c3.c99b69","order":1,"width":"6","height":"1","name":"Text in front of button","label":"<font size=3><font color={{msg.color}}>{{payload}}","format":"","layout":"row-spread","x":1300,"y":340,"wires":[]},{"id":"ac2aa4b9.f1d5f8","type":"ui_form","z":"72b11300.26b4ac","name":"","label":"","group":"d10ee7aa.7d01b8","order":13,"width":"5","height":"5","options":[{"label":"SSID","value":"ssid","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"ssid":"","password":""},"payload":"","submit":"CHECK CONNECTION","cancel":"","topic":"","topicType":"str","splitLayout":false,"x":1140,"y":200,"wires":[["9fe017c0.3c03a8"]]},{"id":"7c8f4590.24ea1c","type":"ui_ui_control","z":"72b11300.26b4ac","name":"onTab","events":"all","x":130,"y":220,"wires":[["39b36a74.affea6"]]},{"id":"3c8283d9.1192bc","type":"ui_ui_control","z":"1e34cc51.ad1564","name":"","events":"all","x":300,"y":220,"wires":[[]]},{"id":"9fe017c0.3c03a8","type":"function","z":"72b11300.26b4ac","name":"getPassphrase","func":"var ssid = msg.payload.ssid;\nvar password = msg.payload.password;\n\nvar command = `wpa_passphrase \"${ssid}\" \"${password}\" | sed '/#psk=\".*\"/d'`\n \nmsg.payload = command\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":200,"wires":[["a0c10007.a6cae"]]},{"id":"a0c10007.a6cae","type":"exec","z":"72b11300.26b4ac","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1501,"y":200,"wires":[["31939c1e.339494"],[],[]]},{"id":"31939c1e.339494","type":"function","z":"72b11300.26b4ac","name":"updateWpasupplicant","func":"var template = `sudo tee /etc/wpa_supplicant/wpa_supplicant.conf <<EOF\nctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev\nupdate_config=1\ncountry=DE\n\n${msg.payload}\nEOF\\n\n`\n\nmsg.payload = template\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":193,"wires":[["1f13191d.648827"]]},{"id":"1f13191d.648827","type":"exec","z":"72b11300.26b4ac","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"updateConf","x":1930,"y":200,"wires":[["8e66b942.3def48"],[],[]]},{"id":"8e66b942.3def48","type":"exec","z":"72b11300.26b4ac","command":"sudo wpa_cli -i wlan0 reconfigure","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reconfigure","x":2110,"y":200,"wires":[["a3223a06.6a23f8"],[],[]]},{"id":"b13c6840.e1c498","type":"ui_toast","z":"72b11300.26b4ac","position":"dialog","displayTime":"5","highlight":"green","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2790,"y":180,"wires":[[]]},{"id":"3402c817.7c0a58","type":"function","z":"13496af3.4f2fa5","name":"","func":"msg.background = \"grey\";\nvar output = msg.payload;\nglobal.set(\"output\",output);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":200,"wires":[["789cdd53.8c4584","ab069234.8b34c","5a0bb307.bc6d6c","7269387b.bb6e98"]]},{"id":"e51c0cc0.60bff","type":"function","z":"13496af3.4f2fa5","name":"","func":"msg.background = \"grey\";\nmsg.enabled = true;\nvar output = msg.payload;\nglobal.set(\"output\",output);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":200,"wires":[["61f79f93.a0c5","d0ea489b.04c558","5a0bb307.bc6d6c","7269387b.bb6e98"]]},{"id":"789cdd53.8c4584","type":"function","z":"13496af3.4f2fa5","name":"","func":"msg.background = \"(0,131,163)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040,"y":160,"wires":[["61f79f93.a0c5"]]},{"id":"d0ea489b.04c558","type":"function","z":"13496af3.4f2fa5","name":"","func":"msg.background = \"(0,131,163)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":160,"wires":[["ab069234.8b34c"]]},{"id":"61f79f93.a0c5","type":"ui_button","z":"13496af3.4f2fa5","name":"Button HDMI","group":"64dec6f1.ffd378","order":2,"width":"2","height":"1","passthru":false,"label":"HDMI","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"HDMI","payloadType":"str","topic":"topic","topicType":"msg","x":1030,"y":120,"wires":[["3402c817.7c0a58","740a420c.56163c"]]},{"id":"ab069234.8b34c","type":"ui_button","z":"13496af3.4f2fa5","name":"Button 3,5MM","group":"64dec6f1.ffd378","order":3,"width":"2","height":"1","passthru":false,"label":"3,5MM","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"3,5MM","payloadType":"str","topic":"topic","topicType":"msg","x":1360,"y":120,"wires":[["e51c0cc0.60bff","740a420c.56163c"]]},{"id":"c450c41d.7f0908","type":"ui_switch","z":"13496af3.4f2fa5","name":"","label":"<font size=4>Bluetooth Receiver","tooltip":"Turn this off to lower energy consumption. This deactivates all bluetooth functionality and makes streaming impossible therefore.","group":"81bb5c50.8db4d","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":990,"y":300,"wires":[["d2be0cab.46376"]]},{"id":"3cb764a8.8552bc","type":"ui_switch","z":"13496af3.4f2fa5","name":"","label":"<font size=4>AirPlay Receiver","tooltip":"Turning this off makes it impossible to find Ramplify as AirPlay Device in iTunes etc.","group":"81bb5c50.8db4d","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":990,"y":340,"wires":[["4eeae1bf.dd48a","6502734d.784fbc"]]},{"id":"e7af683e.a9ba88","type":"ui_switch","z":"13496af3.4f2fa5","name":"","label":"<font size=4>UPnP Receiver","tooltip":"Turning this off makes it impossible to find Ramplify as UPnP Render Device.","group":"81bb5c50.8db4d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":980,"y":380,"wires":[["16431715.192559"]]},{"id":"a990b6e5.681ed8","type":"switch","z":"13496af3.4f2fa5","name":"ifSETTINGS","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"SETTINGS","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":160,"wires":[["4f24bed5.91b5b","e73dbe46.ff868"]]},{"id":"8cc47786.6a5858","type":"ui_ui_control","z":"13496af3.4f2fa5","name":"onTab","events":"all","x":129,"y":160,"wires":[["a990b6e5.681ed8","a51b5abb.c986f8"]]},{"id":"4f24bed5.91b5b","type":"function","z":"13496af3.4f2fa5","name":"","func":"var output = global.get(\"output\")||\"3,5MM\";\nmsg.output = output;\nvar bluetooth = global.get(\"bluetooth\");\nmsg.bluetooth = bluetooth;\nvar airplay = global.get(\"airplay\");\nmsg.airplay = airplay;\nvar upnp = global.get(\"upnp\");\nmsg.upnp = upnp;\nvar snapcast = global.get(\"snapcast\");\nmsg.snapcast = snapcast;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":160,"wires":[["8de5309c.7d4b2","abf83ed2.c7ab7","c4f089c6.1638c8","43c2bc5a.50b734","77ff18e1.7b65a8"]]},{"id":"8de5309c.7d4b2","type":"switch","z":"13496af3.4f2fa5","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"3,5MM","vt":"str"},{"t":"eq","v":"HDMI","vt":"str"},{"t":"eq","v":"I2S","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":610,"y":160,"wires":[["b4ad34ca.551df8"],["2283a5ad.56d05a"],["bf03c10f.8fea7"]]},{"id":"abf83ed2.c7ab7","type":"switch","z":"13496af3.4f2fa5","name":"","property":"bluetooth","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":300,"wires":[["e449eb79.dc1918"],[]]},{"id":"c4f089c6.1638c8","type":"switch","z":"13496af3.4f2fa5","name":"","property":"airplay","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":340,"wires":[["79569ec.384406","1dc2993.24d5767"],["c2b09241.b4bd3"]]},{"id":"43c2bc5a.50b734","type":"switch","z":"13496af3.4f2fa5","name":"","property":"upnp","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":380,"wires":[["f32a1c21.fab49"],[]]},{"id":"d2be0cab.46376","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"bluetooth","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":300,"wires":[[]]},{"id":"4eeae1bf.dd48a","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"airplay","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":340,"wires":[[]]},{"id":"16431715.192559","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"upnp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":380,"wires":[[]]},{"id":"e449eb79.dc1918","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":300,"wires":[["c450c41d.7f0908"]]},{"id":"79569ec.384406","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":340,"wires":[["3cb764a8.8552bc"]]},{"id":"f32a1c21.fab49","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":380,"wires":[["e7af683e.a9ba88"]]},{"id":"2283a5ad.56d05a","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"HDMI","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":180,"wires":[["3402c817.7c0a58"]]},{"id":"b4ad34ca.551df8","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"3,5MM","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":140,"wires":[["e51c0cc0.60bff"]]},{"id":"bd532457.3ea8e8","type":"ui_button","z":"13496af3.4f2fa5","name":"","group":"91d1bafc.2e4ab8","order":6,"width":"6","height":"1","passthru":false,"label":"CONTINUE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"WIFI","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":780,"wires":[["70c20df5.126714","4f24bed5.91b5b","65a81c.3546c7e4","a8eb64d8.e92db8"]]},{"id":"37d0f87d.260768","type":"ui_ui_control","z":"13496af3.4f2fa5","name":"","events":"all","x":920,"y":780,"wires":[[]]},{"id":"70c20df5.126714","type":"function","z":"13496af3.4f2fa5","name":"","func":"msg.output = global.get(\"output\");\nmsg.bluetooth = global.get(\"bluetooth\");\nmsg.airplay = global.get(\"airplay\");\nmsg.upnp = global.get(\"upnp\");\nmsg.snapcast = global.get(\"snapcast\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":1100,"wires":[["7741a861.2fbb48","d6d6eba2.d3c4e8","c87a32d4.11c9a","9b0b390b.b4d2f8","6ce00ba4.94e374"]]},{"id":"7741a861.2fbb48","type":"switch","z":"13496af3.4f2fa5","name":"","property":"output","propertyType":"msg","rules":[{"t":"eq","v":"3,5MM","vt":"str"},{"t":"eq","v":"HDMI","vt":"str"},{"t":"eq","v":"I2S","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":990,"y":1020,"wires":[["5cb1a7b5.281c08","cc596268.689b6"],["1c176244.9fd6be","cc596268.689b6"],["2f93875.4081178"]]},{"id":"d6d6eba2.d3c4e8","type":"switch","z":"13496af3.4f2fa5","name":"","property":"bluetooth","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1080,"wires":[["9da73fbe.2ed84"],["e007f4d3.7d7d78"]]},{"id":"c87a32d4.11c9a","type":"switch","z":"13496af3.4f2fa5","name":"","property":"airplay","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1120,"wires":[["b6030735.473848"],["8d0d5450.ee49e8"]]},{"id":"9b0b390b.b4d2f8","type":"switch","z":"13496af3.4f2fa5","name":"","property":"upnp","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1160,"wires":[["477227f.ee624d8"],["3bcbb566.27442a"]]},{"id":"3f4e26d3.ccf9ea","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '65d' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> ON","x":1440,"y":1020,"wires":[["d06f6a09.893088"],[],[]]},{"id":"1333aa75.0723a6","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i -e '65d' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> OFF","x":1450,"y":1080,"wires":[["2b18692f.5db336"],[],[]]},{"id":"b6030735.473848","type":"exec","z":"13496af3.4f2fa5","command":"sudo systemctl enable --now shairport-sync","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Airplay -> ON","x":1220,"y":1160,"wires":[[],[],[]]},{"id":"8d0d5450.ee49e8","type":"exec","z":"13496af3.4f2fa5","command":"sudo systemctl disable --now shairport-sync","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Airplay -> OFF","x":1220,"y":1220,"wires":[[],[],[]]},{"id":"477227f.ee624d8","type":"exec","z":"13496af3.4f2fa5","command":"sudo systemctl enable --now gmediarender","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> ON","x":1210,"y":1300,"wires":[[],[],[]]},{"id":"3bcbb566.27442a","type":"exec","z":"13496af3.4f2fa5","command":"sudo systemctl disable --now gmediarender","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Upnp -> OFF","x":1210,"y":1360,"wires":[[],[],[]]},{"id":"a8eb64d8.e92db8","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"NETWORK","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":780,"wires":[["37d0f87d.260768"]]},{"id":"a3223a06.6a23f8","type":"switch","z":"72b11300.26b4ac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":220,"wires":[["a18de39.e08512"],["31846582.0ddfda"]]},{"id":"b8f0f766.ba67e8","type":"template","z":"72b11300.26b4ac","name":"notification text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Your raspberry got a connection to your wifi network! Congrats! Don't worry, all your settings are saved!\nIf you wish to come back to this page (e.g. for changing settings or wifi credentials) you need to get the ip-adress your raspberry now got from your router.\nSadly \"ramplify.audio\" won't work anymore. Check the \"connected devices\" section in your router and search for your hostname to get the new ip address.\nGot it? Simply put the ip into your browser (e.g. 192.168.0.157 but NOT things like 192.168.0.157/24)!","output":"str","x":2620,"y":180,"wires":[["b13c6840.e1c498","ac469985.1215c8"]]},{"id":"6c3338f0.57bd58","type":"ui_toast","z":"72b11300.26b4ac","position":"dialog","displayTime":"5","highlight":"green","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2790,"y":300,"wires":[[]]},{"id":"d06f6a09.893088","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '65i dtoverlay=pi3-enable-bt' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> ON","x":1620,"y":1020,"wires":[[],[],[]]},{"id":"2b18692f.5db336","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '65i dtoverlay=pi3-disable-bt' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth -> OFF","x":1650,"y":1080,"wires":[[],[],[]]},{"id":"e3d77c31.5c2dc","type":"ui_text_input","z":"13496af3.4f2fa5","name":"","label":"Airplay Passcode (optional)","tooltip":"","group":"81bb5c50.8db4d","order":3,"width":"4","height":"1","passthru":false,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":1240,"y":560,"wires":[["bc829036.a3c36"]]},{"id":"1dc2993.24d5767","type":"change","z":"13496af3.4f2fa5","name":"change 2 rules","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":540,"wires":[["e3d77c31.5c2dc"]]},{"id":"c2b09241.b4bd3","type":"change","z":"13496af3.4f2fa5","name":"change 2 rules","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":580,"wires":[["e3d77c31.5c2dc"]]},{"id":"6502734d.784fbc","type":"switch","z":"13496af3.4f2fa5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":560,"wires":[["1dc2993.24d5767"],["c2b09241.b4bd3"]]},{"id":"bc829036.a3c36","type":"change","z":"13496af3.4f2fa5","name":"set global.airplay_passcode","rules":[{"t":"set","p":"airplay_passcode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":520,"wires":[[]]},{"id":"5a0bb307.bc6d6c","type":"ui_button","z":"13496af3.4f2fa5","name":"Button I2S","group":"64dec6f1.ffd378","order":1,"width":"2","height":"1","passthru":false,"label":"I2S","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"I2S","payloadType":"str","topic":"topic","topicType":"msg","x":1650,"y":120,"wires":[["b845a0bd.e19c1","a51b5abb.c986f8"]]},{"id":"b845a0bd.e19c1","type":"function","z":"13496af3.4f2fa5","name":"","func":"msg.background = \"grey\";\nmsg.enabled = true;\nvar output = msg.payload;\nglobal.set(\"output\",output);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":200,"wires":[["4af3bb84.4f26e4","61f79f93.a0c5","ab069234.8b34c","8c3e881.207f178"]]},{"id":"4af3bb84.4f26e4","type":"function","z":"13496af3.4f2fa5","name":"","func":"msg.background = \"(0,131,163)\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":160,"wires":[["5a0bb307.bc6d6c"]]},{"id":"2f93875.4081178","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '57d' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Output -> I2S","x":1220,"y":940,"wires":[["b4426a19.05ff08"],[],[]]},{"id":"4d06cc0a.cbd124","type":"ui_dropdown","z":"13496af3.4f2fa5","name":"","label":"","tooltip":"","place":"Select option","group":"64dec6f1.ffd378","order":4,"width":"4","height":"1","passthru":true,"multiple":false,"options":[{"label":"adau1701","value":"1","type":"str"},{"label":"i2s-master","value":"2","type":"str"},{"label":"i2s-slave","value":"3","type":"str"},{"label":"tdm8-master","value":"4","type":"str"},{"label":"tdm8-slave","value":"5","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":2580,"y":40,"wires":[["f41e18a6.755c98","a51b5abb.c986f8"]]},{"id":"7269387b.bb6e98","type":"change","z":"13496af3.4f2fa5","name":"set msg.enabled","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"delete","p":"I2S_option","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":40,"wires":[["4d06cc0a.cbd124"]]},{"id":"165d3a53.4f45d6","type":"change","z":"72b11300.26b4ac","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"HOTSPOT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":260,"wires":[["a26b1171.514c7","29e29c13.160fe4","46714306.cf4c1c"]]},{"id":"326560ad.703bd","type":"exec","z":"1e34cc51.ad1564","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getHostname","x":530,"y":40,"wires":[["14fb57e2.adf3b8"],[],[]]},{"id":"1fa79e78.200592","type":"switch","z":"1e34cc51.ad1564","name":"ifHOME","property":"name","propertyType":"msg","rules":[{"t":"eq","v":"HOME","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":340,"wires":[["326560ad.703bd","2f4c9c2a.712814","b420211a.d8019"]]},{"id":"75bfd2b1.84b53c","type":"ui_ui_control","z":"1e34cc51.ad1564","name":"onTab","events":"all","x":109,"y":340,"wires":[["1fa79e78.200592"]]},{"id":"72dbda32.146be4","type":"exec","z":"13496af3.4f2fa5","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Set AirPlay Password","x":760,"y":1480,"wires":[[],[],[]]},{"id":"7f24a2f1.022f0c","type":"template","z":"13496af3.4f2fa5","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '3i password=\"{{global.airplay_passcode}}\";' /etc/shairport-sync.conf","output":"str","x":560,"y":1480,"wires":[["72dbda32.146be4"]]},{"id":"65a81c.3546c7e4","type":"switch","z":"13496af3.4f2fa5","name":"","property":"airplay_passcode","propertyType":"global","rules":[{"t":"istype","v":"string","vt":"string"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1500,"wires":[["7f24a2f1.022f0c"],["cf0aad60.c825a"]]},{"id":"cf0aad60.c825a","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i  '/password/d'  /etc/shairport-sync.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Remove AirPlay Password","x":620,"y":1540,"wires":[[],[],[]]},{"id":"945546b6.dff348","type":"ui_toast","z":"13496af3.4f2fa5","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1690,"y":640,"wires":[]},{"id":"ad9045ed.f17718","type":"ui_button","z":"13496af3.4f2fa5","name":"","group":"81bb5c50.8db4d","order":7,"width":"2","height":"1","passthru":false,"label":"REMOVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1300,"y":600,"wires":[["1219d458.a77dac","b5332215.c0a5b"]]},{"id":"1219d458.a77dac","type":"change","z":"13496af3.4f2fa5","name":"set global.airplay_passcode","rules":[{"t":"delete","p":"airplay_passcode","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":600,"wires":[[]]},{"id":"b5332215.c0a5b","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"AirPlay passcode successfully removed.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":640,"wires":[["945546b6.dff348"]]},{"id":"f41e18a6.755c98","type":"change","z":"13496af3.4f2fa5","name":"set global.I2S_option","rules":[{"t":"set","p":"I2S_option","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3040,"y":40,"wires":[[]]},{"id":"4c010e1b.0c26f","type":"exec","z":"13496af3.4f2fa5","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":2090,"y":940,"wires":[[],[],[]]},{"id":"b4426a19.05ff08","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '57i #dtparam=audio=on' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Output -> I2S","x":1440,"y":940,"wires":[["574f6cfa.fd01b4"],[],[]]},{"id":"cc596268.689b6","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '57d' /boot/config.txt","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Deactivate I2S","x":1540,"y":740,"wires":[["d6f2515d.fbd7d"],[],[]]},{"id":"d6f2515d.fbd7d","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '57i dtparam=audio=on' /boot/config.txt","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Deactivate I2S","x":1740,"y":740,"wires":[["27e9fe7b.5d9652"],[],[]]},{"id":"27e9fe7b.5d9652","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '64d' /boot/config.txt","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Deactivate I2S","x":1940,"y":740,"wires":[["140e4d26.a7f283"],[],[]]},{"id":"31846582.0ddfda","type":"change","z":"72b11300.26b4ac","name":"change 2 rules","rules":[{"t":"delete","p":"topic","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"WIFI did not work. Maybe wrong passphrase?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2620,"y":300,"wires":[["6c3338f0.57bd58"]]},{"id":"a18de39.e08512","type":"change","z":"72b11300.26b4ac","name":"set msg.topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Connection established & setup finished!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":180,"wires":[["b8f0f766.ba67e8"]]},{"id":"2f4c9c2a.712814","type":"function","z":"1e34cc51.ad1564","name":"once_a_lifetime","func":"var once_a_lifetime = global.get(\"once_a_lifetime\")||0;\nif (once_a_lifetime == 0) {\n    var bluetooth = true;\n    var airplay = true;\n    var upnp = true;\n    global.set(\"bluetooth\",bluetooth);\n    global.set(\"airplay\", airplay);\n    global.set(\"upnp\", upnp);\n    once_a_lifetime = 1;\n    global.set(\"once_a_lifetime\", once_a_lifetime);\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":520,"wires":[[]]},{"id":"fb089bbc.be8d78","type":"ui_button","z":"a2519f87.b15d3","name":"","group":"dbb5ee7d.c456a","order":1,"width":0,"height":0,"passthru":false,"label":"CONFIRM SETTINGS & REBOOT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":140,"wires":[["57de4e10.3152e"]]},{"id":"3e8d2dd6.53f382","type":"ui_button","z":"a2519f87.b15d3","name":"","group":"e433a41c.46c658","order":2,"width":0,"height":0,"passthru":false,"label":"SHUTDOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":180,"wires":[["e256cbce.6ba258"]]},{"id":"6e97d356.b5780c","type":"template","z":"a2519f87.b15d3","name":"output text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Rebooting...","output":"str","x":810,"y":140,"wires":[["8aecad67.bf6c6","854e8059.d5d1f"]]},{"id":"57de4e10.3152e","type":"change","z":"a2519f87.b15d3","name":"delete msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":140,"wires":[["6e97d356.b5780c"]]},{"id":"8aecad67.bf6c6","type":"ui_toast","z":"a2519f87.b15d3","position":"top right","displayTime":"10","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1000,"y":140,"wires":[]},{"id":"8f9c98a5.cc8e48","type":"template","z":"a2519f87.b15d3","name":"output text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Shutting down...","output":"str","x":650,"y":180,"wires":[["2c407883.e7f9e8","15cbe9b8.a4b006"]]},{"id":"e256cbce.6ba258","type":"change","z":"a2519f87.b15d3","name":"delete msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":180,"wires":[["8f9c98a5.cc8e48"]]},{"id":"2c407883.e7f9e8","type":"ui_toast","z":"a2519f87.b15d3","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":180,"wires":[]},{"id":"15cbe9b8.a4b006","type":"exec","z":"a2519f87.b15d3","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo shutdown -h","x":830,"y":240,"wires":[[],[],[]]},{"id":"bc28ad0b.8a194","type":"exec","z":"a2519f87.b15d3","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"sudo reboot","x":1150,"y":80,"wires":[[],[],[]]},{"id":"854e8059.d5d1f","type":"delay","z":"a2519f87.b15d3","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":980,"y":80,"wires":[["bc28ad0b.8a194"]]},{"id":"b420211a.d8019","type":"exec","z":"1e34cc51.ad1564","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":430,"y":340,"wires":[["8c848b7c.47e0b8"],[],[]]},{"id":"8c848b7c.47e0b8","type":"function","z":"1e34cc51.ad1564","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\nvar mask = msg.payload.match(/netmask ([0-9\\.]+)/)[1]\nvar broadcast = msg.payload.match(/broadcast ([0-9\\.]+)/)[1]\n\nnode.send({topic: 'ip', payload: ip})","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":340,"wires":[["86dd2799.cf8e38"]]},{"id":"bf03c10f.8fea7","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"I2S","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["b845a0bd.e19c1"]]},{"id":"2fe10839.9cd638","type":"exec","z":"72b11300.26b4ac","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getInfo","x":430,"y":400,"wires":[["4d0d5fbc.92b08"],[],[]]},{"id":"4d0d5fbc.92b08","type":"function","z":"72b11300.26b4ac","name":"parseInfo","func":"var ip = msg.payload.match(/inet ([0-9\\.]+)/)[1]\n\nmsg.payload = ip;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":400,"wires":[["3dd8ffb4.f181a"]]},{"id":"8d68f1df.7bc58","type":"ui_text","z":"72b11300.26b4ac","group":"677f9492.07a2cc","order":8,"width":0,"height":0,"name":"","label":"Status:","format":"<font color={{color}}> {{msg.payload}}","layout":"row-spread","x":1400,"y":80,"wires":[]},{"id":"ad9584dc.32ffc8","type":"change","z":"72b11300.26b4ac","name":"change 2 rules","rules":[{"t":"set","p":"payload","pt":"msg","to":"CONNECTED","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":80,"wires":[["8d68f1df.7bc58"]]},{"id":"29e29c13.160fe4","type":"change","z":"72b11300.26b4ac","name":"change 2 rules","rules":[{"t":"set","p":"payload","pt":"msg","to":"DISCONNECTED","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":120,"wires":[["8d68f1df.7bc58"]]},{"id":"cec30495.99f9c8","type":"change","z":"72b11300.26b4ac","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"ETHERNET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":480,"wires":[["46714306.cf4c1c"]]},{"id":"290c259d.32914a","type":"change","z":"72b11300.26b4ac","name":"set flow.eth0_ip","rules":[{"t":"set","p":"eth0_ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":320,"wires":[[]]},{"id":"3dd8ffb4.f181a","type":"change","z":"72b11300.26b4ac","name":"set flow.wlan0_ip","rules":[{"t":"set","p":"wlan0_ip","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":400,"wires":[[]]},{"id":"90277f0a.5737","type":"switch","z":"72b11300.26b4ac","name":"","property":"wlan0_ip","propertyType":"flow","rules":[{"t":"eq","v":"192.168.40.1","vt":"str"},{"t":"cont","v":"192","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":520,"wires":[["165d3a53.4f45d6","d19f62ca.ab8cc"],["ddfa552f.b75b58","29e29c13.160fe4","4f5b9d13.7081d4","d19f62ca.ab8cc"]]},{"id":"a114221a.36d4d","type":"delay","z":"72b11300.26b4ac","name":"Delay 50ms","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":500,"wires":[["671032ac.dfdddc"]]},{"id":"671032ac.dfdddc","type":"switch","z":"72b11300.26b4ac","name":"","property":"eth0_ip","propertyType":"flow","rules":[{"t":"cont","v":"192","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":500,"wires":[["ad9584dc.32ffc8","cec30495.99f9c8","fbfa33a7.67162","d19f62ca.ab8cc"],["90277f0a.5737"]]},{"id":"4f5b9d13.7081d4","type":"change","z":"72b11300.26b4ac","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"wlan0_ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":320,"wires":[["a26b1171.514c7"]]},{"id":"fbfa33a7.67162","type":"change","z":"72b11300.26b4ac","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"eth0_ip","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":360,"wires":[["a26b1171.514c7"]]},{"id":"d19f62ca.ab8cc","type":"change","z":"72b11300.26b4ac","name":"change 2 rules","rules":[{"t":"delete","p":"eth0_ip","pt":"flow"},{"t":"delete","p":"wlan0_ip","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":620,"wires":[[]]},{"id":"574f6cfa.fd01b4","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '64d' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1690,"y":940,"wires":[["d6a2e61f.9377c8"],[],[]]},{"id":"140e4d26.a7f283","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '64i #placeholder' /boot/config.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2250,"y":740,"wires":[[],[],[]]},{"id":"9da73fbe.2ed84","type":"delay","z":"13496af3.4f2fa5","name":"Delay 500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1020,"wires":[["3f4e26d3.ccf9ea"]]},{"id":"e007f4d3.7d7d78","type":"delay","z":"13496af3.4f2fa5","name":"Delay 500ms","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1080,"wires":[["1333aa75.0723a6"]]},{"id":"70c7126.0303dec","type":"ui_text_input","z":"13496af3.4f2fa5","name":"","label":"New hotspot password?","tooltip":"","group":"9be91b84.332018","order":2,"width":"4","height":"1","passthru":true,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":230,"y":1780,"wires":[["84573040.9b0d6"]]},{"id":"d8e08603.9d8518","type":"change","z":"13496af3.4f2fa5","name":"set global.new_hotspotpassword","rules":[{"t":"set","p":"new_hotspotpassword","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1820,"wires":[[]]},{"id":"9caa226a.c5cda","type":"ui_button","z":"13496af3.4f2fa5","name":"","group":"9be91b84.332018","order":4,"width":"2","height":"1","passthru":false,"label":"APPLY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":1900,"wires":[["a4b0866b.2f91c8"]]},{"id":"a4b0866b.2f91c8","type":"change","z":"13496af3.4f2fa5","name":"delete msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1900,"wires":[["a3912414.fee5b8"]]},{"id":"a3912414.fee5b8","type":"exec","z":"13496af3.4f2fa5","command":"sudo sed -i '3d' /home/pi/.node-red/change_hotspot_password.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":800,"y":1900,"wires":[["a40897cb.cbb418"],[],[]]},{"id":"41ef2e8e.5b2f6","type":"exec","z":"13496af3.4f2fa5","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1470,"y":1900,"wires":[["f7159eac.ba1bd"],[],[]]},{"id":"5047c5.5c28983c","type":"template","z":"13496af3.4f2fa5","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i \"3i sudo sed -i '13i wpa_passphrase={{global.new_hotspotpassword}}' /etc/hostapd/hostapd.conf\" /home/pi/.node-red/change_hotspot_password.sh","output":"str","x":1340,"y":1900,"wires":[["41ef2e8e.5b2f6"]]},{"id":"a40897cb.cbb418","type":"change","z":"13496af3.4f2fa5","name":"delete msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":1900,"wires":[["5047c5.5c28983c"]]},{"id":"84573040.9b0d6","type":"switch","z":"13496af3.4f2fa5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":" ","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1780,"wires":[["5ae31cf6.1e73c4","321f8e4f.799ec2"],["d8e08603.9d8518"]]},{"id":"5ae31cf6.1e73c4","type":"template","z":"13496af3.4f2fa5","name":"output text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hotspot password cannot contain blank character!","output":"str","x":610,"y":1740,"wires":[["4fa94722.ea6068"]]},{"id":"4fa94722.ea6068","type":"ui_toast","z":"13496af3.4f2fa5","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":770,"y":1740,"wires":[[]]},{"id":"321f8e4f.799ec2","type":"change","z":"13496af3.4f2fa5","name":"set global.new_hotspotpassword","rules":[{"t":"delete","p":"new_hotspotpassword","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":1780,"wires":[[]]},{"id":"d32c335d.625d9","type":"template","z":"13496af3.4f2fa5","name":"Hotspot password changed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hotspot password successfully changed!","output":"str","x":1820,"y":1900,"wires":[["61f8cb5b.086844"]]},{"id":"61f8cb5b.086844","type":"ui_toast","z":"13496af3.4f2fa5","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2050,"y":1900,"wires":[]},{"id":"ad2dc57f.95e528","type":"ui_button","z":"a2519f87.b15d3","name":"","group":"e433a41c.46c658","order":1,"width":0,"height":0,"passthru":false,"label":"REBOOT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":100,"wires":[["57de4e10.3152e"]]},{"id":"8c3e881.207f178","type":"exec","z":"13496af3.4f2fa5","command":"find /boot/overlays/ -name \"*.dtbo\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2060,"y":120,"wires":[["9b1ee87e.460ff8"],[],[]]},{"id":"9b1ee87e.460ff8","type":"change","z":"13496af3.4f2fa5","name":"change 2 rules","rules":[{"t":"change","p":"payload","pt":"msg","from":"/boot/overlays/","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":".dtbo","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2320,"y":120,"wires":[["42096fa4.6643b"]]},{"id":"42096fa4.6643b","type":"function","z":"13496af3.4f2fa5","name":"","func":"var overlays = msg.payload.split('\\n').filter(s => !!s)\n\noverlays = [...new Set(overlays)];\n\nmsg.options = overlays\n\nmsg.enabled = true;\nvar I2S_option = global.get(\"I2S_option\");\nmsg.payload = I2S_option;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2520,"y":120,"wires":[["4d06cc0a.cbd124"]]},{"id":"d6a2e61f.9377c8","type":"template","z":"13496af3.4f2fa5","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '64i dtoverlay={{global.I2S_option}}' /boot/config.txt","output":"str","x":1920,"y":940,"wires":[["4c010e1b.0c26f"]]},{"id":"6c5303f2.852d4c","type":"exec","z":"13496af3.4f2fa5","command":"sudo systemctl enable --now snapclient","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Snapcast -> ON","x":1220,"y":1440,"wires":[[],[],[]]},{"id":"d2b3b6d0.b168f8","type":"exec","z":"13496af3.4f2fa5","command":"sudo systemctl disable --now snapclient","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Snapcast -> OFF","x":1230,"y":1500,"wires":[[],[],[]]},{"id":"6ce00ba4.94e374","type":"switch","z":"13496af3.4f2fa5","name":"","property":"upnp","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":1200,"wires":[["6c5303f2.852d4c"],["d2b3b6d0.b168f8"]]},{"id":"20971d3e.6967d2","type":"ui_switch","z":"13496af3.4f2fa5","name":"","label":"<font size=4>Snapcast","tooltip":"Turning this off makes it impossible to use snapcast.","group":"81bb5c50.8db4d","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":960,"y":420,"wires":[["d134e73a.b67a38"]]},{"id":"d134e73a.b67a38","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"snapcast","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":420,"wires":[[]]},{"id":"d6b24e4e.4ce7","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":420,"wires":[["20971d3e.6967d2"]]},{"id":"77ff18e1.7b65a8","type":"switch","z":"13496af3.4f2fa5","name":"","property":"snapcast","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":420,"wires":[["d6b24e4e.4ce7"],[]]},{"id":"f7159eac.ba1bd","type":"exec","z":"13496af3.4f2fa5","command":"sudo /home/pi/.node-red/change_hotspot_password.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1610,"y":1900,"wires":[["d32c335d.625d9"],[],[]]},{"id":"990c1e34.34a44","type":"exec","z":"72b11300.26b4ac","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot","x":3130,"y":240,"wires":[[],[],[]]},{"id":"ac469985.1215c8","type":"delay","z":"72b11300.26b4ac","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2970,"y":240,"wires":[["990c1e34.34a44"]]},{"id":"17343645.e622ba","type":"ui_text_input","z":"1e34cc51.ad1564","name":"","label":"New hostname?","tooltip":"","group":"8d5938bc.823fa8","order":1,"width":"4","height":"1","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":140,"y":640,"wires":[["722b22a5.f176ec"]]},{"id":"d9e46ec5.5355","type":"change","z":"1e34cc51.ad1564","name":"set global.new_hostname","rules":[{"t":"set","p":"new_hostname","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":680,"wires":[[]]},{"id":"d98f322e.e48cb","type":"template","z":"1e34cc51.ad1564","name":"output text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hostname cannot contain blank character!","output":"str","x":490,"y":600,"wires":[["f915d1f3.04046"]]},{"id":"f915d1f3.04046","type":"ui_toast","z":"1e34cc51.ad1564","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":650,"y":600,"wires":[[]]},{"id":"722b22a5.f176ec","type":"switch","z":"1e34cc51.ad1564","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":" ","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":640,"wires":[["d98f322e.e48cb","7595efe0.70971"],["d9e46ec5.5355"]]},{"id":"7595efe0.70971","type":"change","z":"1e34cc51.ad1564","name":"set global.new_hostname","rules":[{"t":"delete","p":"new_hostname","pt":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[[]]},{"id":"67cf539d.2c80ac","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo hostname -b {{global.new_hostname}}","output":"str","x":1260,"y":800,"wires":[["48d9cfb9.b0c5a"]]},{"id":"48d9cfb9.b0c5a","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Hostname","x":1410,"y":800,"wires":[["7c9fe686.36f978","18af9226.46667e","34876cd7.e7faf4","86c8009c.878d1","99c3bd5a.340a2","901d4617.89d458","e6344355.0dafc"],[],[]]},{"id":"769ffab3.9c4214","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Pretty hostname","x":760,"y":960,"wires":[[],[],[]]},{"id":"7c9fe686.36f978","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo hostnamectl set-hostname --pretty \"{{global.new_hostname}}\"","output":"str","x":600,"y":960,"wires":[["769ffab3.9c4214"]]},{"id":"18af9226.46667e","type":"exec","z":"1e34cc51.ad1564","command":"sudo sed -i '2d' /etc/shairport-sync.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Changes for airplay ","x":770,"y":1020,"wires":[["44879e90.089be"],[],[]]},{"id":"1b8e9d00.6225e3","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Changes for airplay","x":1270,"y":1020,"wires":[[],[],[]]},{"id":"44879e90.089be","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '2i name=\"{{global.new_hostname}}\";' /etc/shairport-sync.conf","output":"str","x":1080,"y":1020,"wires":[["1b8e9d00.6225e3"]]},{"id":"34876cd7.e7faf4","type":"exec","z":"1e34cc51.ad1564","command":"sudo sed -i '6d' /etc/hostapd/hostapd.conf","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":1160,"wires":[["43baff8a.992f1"],[],[]]},{"id":"4d99e27b.e4b66c","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1290,"y":1160,"wires":[[],[],[]]},{"id":"cacd2b67.dc6578","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '6i ssid={{global.new_hostname}}-Hotspot' /etc/hostapd/hostapd.conf","output":"str","x":1160,"y":1160,"wires":[["4d99e27b.e4b66c"]]},{"id":"43baff8a.992f1","type":"change","z":"1e34cc51.ad1564","name":"delete msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1160,"wires":[["cacd2b67.dc6578","326560ad.703bd"]]},{"id":"d5e8f2b9.68dd","type":"ui_button","z":"1e34cc51.ad1564","name":"","group":"8d5938bc.823fa8","order":3,"width":"2","height":"1","passthru":false,"label":"APPLY","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":860,"wires":[["c41284a4.bd7288","3c6843d2.07f80c","7b9ffb78.cce724"]]},{"id":"c41284a4.bd7288","type":"change","z":"1e34cc51.ad1564","name":"delete msg.payload","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":860,"wires":[["e0d0b430.9992f8"]]},{"id":"39cdba51.35bb46","type":"template","z":"1e34cc51.ad1564","name":"hostname changed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hostname changed successfully!","output":"str","x":790,"y":1660,"wires":[["f102f419.ca6518"]]},{"id":"f102f419.ca6518","type":"ui_toast","z":"1e34cc51.ad1564","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":990,"y":1660,"wires":[]},{"id":"86c8009c.878d1","type":"exec","z":"1e34cc51.ad1564","command":"sudo sed -i '1d' /etc/hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":670,"y":1240,"wires":[["690509ac.74fea8"],[],[]]},{"id":"b3ed4188.9b305","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1110,"y":1240,"wires":[[],[],[]]},{"id":"99c3bd5a.340a2","type":"exec","z":"1e34cc51.ad1564","command":"sudo sed -i '3d' /etc/default/gmediarender","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":700,"y":1300,"wires":[["3f9bed8b.bdc612"],[],[]]},{"id":"2524e51.f6fd11a","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1110,"y":1300,"wires":[[],[],[]]},{"id":"901d4617.89d458","type":"exec","z":"1e34cc51.ad1564","command":"sudo sed -i '6d' /etc/hosts","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":650,"y":1360,"wires":[["4096b556.844e2c"],[],[]]},{"id":"6af867f2.0354f8","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1330,"y":1360,"wires":[["65f466c5.3e34a8"],[],[]]},{"id":"3f9bed8b.bdc612","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '3i UPNP_DEVICE=\"{{global.new_hostname}}\"' /etc/default/gmediarender","output":"str","x":980,"y":1300,"wires":[["2524e51.f6fd11a"]]},{"id":"8371bbac.a0c518","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '6i 127.0.1.1 {{global.new_hostname}}' /etc/hosts","output":"str","x":1200,"y":1360,"wires":[["6af867f2.0354f8"]]},{"id":"690509ac.74fea8","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '1i {{global.new_hostname}}' /etc/hostname","output":"str","x":980,"y":1240,"wires":[["b3ed4188.9b305"]]},{"id":"4096b556.844e2c","type":"exec","z":"1e34cc51.ad1564","command":"sudo sed -i '6d' /etc/hosts","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":910,"y":1360,"wires":[["8371bbac.a0c518"],[],[]]},{"id":"4730c4dd.ffa92c","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1590,"y":1360,"wires":[[],[],[]]},{"id":"65f466c5.3e34a8","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '7i 192.168.40.1 {{global.new_hostname}}.audio' /etc/hosts","output":"str","x":1460,"y":1360,"wires":[["4730c4dd.ffa92c"]]},{"id":"9d199f80.1d3e9","type":"exec","z":"1e34cc51.ad1564","command":"sudo /home/pi/.node-red/rename_nodered_flows.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":590,"y":1660,"wires":[["39cdba51.35bb46","3a0b613a.b12ace"],[],[]]},{"id":"e0d0b430.9992f8","type":"exec","z":"1e34cc51.ad1564","command":"hostname","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"getHostname","x":610,"y":860,"wires":[["131da619.d55eba"],[],[]]},{"id":"7b647a0d.df7ab4","type":"change","z":"1e34cc51.ad1564","name":"set global.old_hostname","rules":[{"t":"set","p":"old_hostname","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":800,"wires":[["67cf539d.2c80ac"]]},{"id":"d2d4ac92.ed8a2","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '3i sudo mv /home/pi/.node-red/flows_{{global.old_hostname}}.json /home/pi/.node-red/flows_{{global.new_hostname}}.json' /home/pi/.node-red/rename_nodered_flows.sh","output":"str","x":1080,"y":1460,"wires":[["4e578bd0.7fbbe4"]]},{"id":"4e578bd0.7fbbe4","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1230,"y":1460,"wires":[["f95dd4f5.911ac8"],[],[]]},{"id":"29e17d6b.9a4742","type":"template","z":"1e34cc51.ad1564","name":"cmd text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"sudo sed -i '4i sudo mv /home/pi/.node-red/flows_{{global.old_hostname}}_cred.json /home/pi/.node-red/flows_{{global.new_hostname}}_cred.json' /home/pi/.node-red/rename_nodered_flows.sh","output":"str","x":1080,"y":1560,"wires":[["65acea04.ceb1f4"]]},{"id":"65acea04.ceb1f4","type":"exec","z":"1e34cc51.ad1564","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"exec","x":1230,"y":1560,"wires":[["9d199f80.1d3e9"],[],[]]},{"id":"e6344355.0dafc","type":"exec","z":"1e34cc51.ad1564","command":"sudo sed -i '3d' /home/pi/.node-red/rename_nodered_flows.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":1460,"wires":[["d2d4ac92.ed8a2"],[],[]]},{"id":"f95dd4f5.911ac8","type":"exec","z":"1e34cc51.ad1564","command":"sudo sed -i '4d' /home/pi/.node-red/rename_nodered_flows.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":770,"y":1560,"wires":[["29e17d6b.9a4742"],[],[]]},{"id":"131da619.d55eba","type":"function","z":"1e34cc51.ad1564","name":"","func":"msg.payload = msg.payload.trim();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":800,"wires":[["7b647a0d.df7ab4"]]},{"id":"74edb320.4bfafc","type":"change","z":"13496af3.4f2fa5","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":680,"wires":[["bd532457.3ea8e8"]]},{"id":"b4bfcbe0.132448","type":"switch","z":"13496af3.4f2fa5","name":"","property":"I2S_option","propertyType":"global","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":480,"y":640,"wires":[["740a420c.56163c"],["74edb320.4bfafc"]]},{"id":"69a196e8.9cca98","type":"switch","z":"13496af3.4f2fa5","name":"","property":"output","propertyType":"global","rules":[{"t":"eq","v":"I2S","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":640,"wires":[["b4bfcbe0.132448"]]},{"id":"a51b5abb.c986f8","type":"change","z":"13496af3.4f2fa5","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":640,"wires":[["69a196e8.9cca98"]]},{"id":"740a420c.56163c","type":"change","z":"13496af3.4f2fa5","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":640,"wires":[["bd532457.3ea8e8"]]},{"id":"3c6843d2.07f80c","type":"template","z":"1e34cc51.ad1564","name":"output text","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Applying new hostname...","output":"str","x":330,"y":800,"wires":[["7ee9084d.bbfd48"]]},{"id":"7ee9084d.bbfd48","type":"ui_toast","z":"1e34cc51.ad1564","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":510,"y":800,"wires":[]},{"id":"7b9ffb78.cce724","type":"change","z":"1e34cc51.ad1564","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":1000,"wires":[["d5e8f2b9.68dd"]]},{"id":"3a0b613a.b12ace","type":"change","z":"1e34cc51.ad1564","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":1040,"wires":[["d5e8f2b9.68dd"]]},{"id":"fbc23b8d.ca4f58","type":"delay","z":"72b11300.26b4ac","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":280,"wires":[["b12d1a52.4be828","9156e633.8d6b18","2fe10839.9cd638","a114221a.36d4d"]]},{"id":"fcb807ab.f82848","type":"template","z":"13496af3.4f2fa5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"When using the audio jack on your raspberry pi make sure no hdmi device is connected!","output":"str","x":1740,"y":1160,"wires":[["9ac9b095.80a2f"]]},{"id":"9ac9b095.80a2f","type":"ui_toast","z":"13496af3.4f2fa5","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1900,"y":1160,"wires":[[]]},{"id":"3f134313.0e70ac","type":"template","z":"13496af3.4f2fa5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"When using hdmi for audio output make sure the audio jack on your raspberry pi is not used!","output":"str","x":1740,"y":1200,"wires":[["4835a7dc.95d7c8"]]},{"id":"4835a7dc.95d7c8","type":"ui_toast","z":"13496af3.4f2fa5","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1900,"y":1200,"wires":[[]]},{"id":"9bd5a97b.89e0f8","type":"ui_toast","z":"13496af3.4f2fa5","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":510,"y":60,"wires":[[]]},{"id":"e73dbe46.ff868","type":"change","z":"13496af3.4f2fa5","name":"set msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"Changes on this tab will require a reboot to be applied!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":60,"wires":[["9bd5a97b.89e0f8"]]},{"id":"5cb1a7b5.281c08","type":"change","z":"13496af3.4f2fa5","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"3.5MM WARNING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":1160,"wires":[["fcb807ab.f82848"]]},{"id":"1c176244.9fd6be","type":"change","z":"13496af3.4f2fa5","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"HDMI OUTPUT WARNING","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":1200,"wires":[["3f134313.0e70ac"]]}]